.logo {
    width: 120px;
    float: left;
}

.logo img {
    height: 64px;
}
.header-menu {
    line-height: 64px;
    float: right;
    margin-right: -60px;
}

.sider-menu {
    padding-top: 5px;
    height: 100%;
    border-right: 0;
}

.inner-layout {
    padding: 0 24px 24px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    margin-left: 200px;
    width: 900px;
    padding: 24px;
    min-height: 280px;
    box-shadow:2px 2px 2px 2px #aaaaaa;
    border-radius: 10px;
}

.nav {
  border-right: solid 2px #aaaaaa;
}
