<nz-layout>
    <nz-header>
        <div class="logo">
            <img  src="../../assets/images/logo1.png" alt="logo">
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
            <li nz-menu-item><i nz-icon nzType="question-circle" nzTheme="outline"></i>帮助</li>
            <li nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i>admin</li>
            <li nz-menu-item nzSelected><i nz-icon nzType="logout" nzTheme="outline"></i>注销</li>
        </ul>
    </nz-header>
    <nz-layout>
        <nz-sider class="nav" nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item nzIcon="user" [routerLink]="['/AddCamera']">
                <i nz-icon nzType="video-camera-add" nzTheme="outline"></i>
                <span>添加设备</span>
            </li>
            <li nz-menu-item nzIcon="laptop"[routerLink]="['/Live']">
                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                <span>实时监控</span>
            </li>
            <li nz-menu-item nzIcon="notification">
                <i nz-icon nzType="rollback" nzTheme="outline"></i>
                <span>监控回放</span>
            </li>

        </ul>
        </nz-sider>
    <nz-layout class="inner-layout">
            <nz-content>
              <div class="content-model"></div>
              <router-outlet></router-outlet>
            </nz-content>

    </nz-layout>
    </nz-layout>
</nz-layout>

